<sly data-sly-use.block="block.js"
     data-sly-use.emptyRenderer="emptyblock.html"
     data-sly-call="${emptyRenderer.emptyBlockTemplate @ block=block}" />

<sly data-sly-test="${block.style == '1'}">
    <sly data-sly-resource="${ @path='section1', resourceType='odecee/components/content/section', selectors='template.style1' }"/>
    <sly data-sly-resource="${ @path='section2', resourceType='odecee/components/content/section', selectors='template.style1' }"/>
    <sly data-sly-resource="${ @path='section3', resourceType='odecee/components/content/section', selectors='template.style1' }"/>
</sly>