.idea/
.vlt
*.iml
bundle/target/
website/.settings/org.eclipse.m2e.core.prefs
website/core/.settings/org.eclipse.core.resources.prefs
website/core/.settings/org.eclipse.jdt.core.prefs
website/core/.settings/org.eclipse.m2e.core.prefs
website/core/.settings/org.eclipse.pde.core.prefs
website/it.launcher/.settings/org.eclipse.core.resources.prefs
website/it.launcher/.settings/org.eclipse.jdt.core.prefs
website/it.launcher/.settings/org.eclipse.m2e.core.prefs
website/it.tests/.settings/org.eclipse.core.resources.prefs
website/it.tests/.settings/org.eclipse.jdt.core.prefs
website/it.tests/.settings/org.eclipse.m2e.core.prefs
website/it.tests/.settings/org.eclipse.pde.core.prefs
website/ui.apps/.settings/org.eclipse.core.resources.prefs
website/ui.apps/.settings/org.eclipse.jdt.core.prefs
website/ui.apps/.settings/org.eclipse.m2e.core.prefs
website/ui.content/.settings/org.eclipse.core.resources.prefs
website/ui.content/.settings/org.eclipse.jdt.core.prefs
website/ui.content/.settings/org.eclipse.m2e.core.prefs
