<div class="container row" data-sly-use.footer="footer.js">
    <div class="col4">
        <div class="pad">
            <p style="text-align: left;">© Copyright Odecee 2015<br>
                <a href="http://odecee.com.au/terms-conditions/" style="color: #6A6A6A; font-size: 11px;">Terms &amp; Conditions</a>
            </p>

        </div>
    </div>
    <div class="col4">
        <div class="pad">
            <ul class="call">
                <li><i class="fa fa-mobile"></i> 1300 633 233 </li>
                <li><a href="mailto:enquiries@odecee.com.au" style="color: #6A6A6A;"><i class="fa fa-envelope-o"></i> enquiries@odecee.com.au</a></li>
            </ul>
        </div>
    </div>
    <div class="col4">
        <div class="pad">
            <ul class="addrs">


                <li><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/HpORP" style="color: #bababa;">Level 11, 410 Collins Street
                    <br>Melbourne, Australia, 3000</a></li>
                <li><i class="fa fa-map-marker"></i><a href="https://goo.gl/WYmgBt" style="color: #bababa;">Level 4, 28 Margaret Street,
                    <br>Sydney Australia, 2000</a></li>
            </ul>
        </div>
    </div>
    <div class="col4 clear">
        <div class="pad social clear">
            <a href="https://twitter.com/Odecee"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/odeceesocial"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/company/320621?trk=tyah&amp;trkInfo=tarId%3A1406853179868%2Ctas%3AOdecee%2Cidx%3A2-1-4"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</div>
